<div id="leakage">

  <div class="col-md-4"><!-- filter controls -->

<br>
<br>
<br>

    <form>

      <fieldset> 

        <h4> Patient Type </h4>
        <label class="checkbox">
          <input type="checkbox" 
                 ng-model="isPatManagedSelected"   
                 ng-change="months = calcMonthlyTotals( isPatManagedSelected,
                                                        isPatUnmanagedSelected,
                                                        isPhyEmployedSelected,
                                                        isPhyAffiliatedSelected,
                                                        isSvcOfferedSelected,
                                                        isSvcNotOfferedSelected )"> Managed
        </label>
        <label class="checkbox">
          <input type="checkbox" 
                 ng-model="isPatUnmanagedSelected" 
                 ng-change="months = calcMonthlyTotals( isPatManagedSelected, 
                                                        isPatUnmanagedSelected, 
                                                        isPhyEmployedSelected, 
                                                        isPhyAffiliatedSelected, 
                                                        isSvcOfferedSelected, 
                                                        isSvcNotOfferedSelected )"> Unmanaged
        </label>

        <br>
        <h4> Physician Type </h4>
        <label class="checkbox">
          <input type="checkbox" 
                 ng-model="isPhyEmployedSelected"
                 ng-change="months = calcMonthlyTotals( isPatManagedSelected, 
                                                        isPatUnmanagedSelected, 
                                                        isPhyEmployedSelected, 
                                                        isPhyAffiliatedSelected, 
                                                        isSvcOfferedSelected, 
                                                        isSvcNotOfferedSelected )"> Employed 
        </label>

        <label class="checkbox">
          <input type="checkbox" 
                 ng-model="isPhyAffiliatedSelected"
                 ng-change="months = calcMonthlyTotals( isPatManagedSelected, 
                                                        isPatUnmanagedSelected, 
                                                        isPhyEmployedSelected, 
                                                        isPhyAffiliatedSelected, 
                                                        isSvcOfferedSelected, 
                                                        isSvcNotOfferedSelected )"> Affiliated
        </label>

        <br>
        <h4> Services </h4>
        <label class="checkbox">
          <input type="checkbox" 
                 ng-model="isSvcOfferedSelected"
                 ng-change="months = calcMonthlyTotals( isPatManagedSelected, 
                                                        isPatUnmanagedSelected, 
                                                        isPhyEmployedSelected, 
                                                        isPhyAffiliatedSelected, 
                                                        isSvcOfferedSelected, 
                                                        isSvcNotOfferedSelected )"> Offered
        </label>
        <label class="checkbox">
          <input type="checkbox" 
                 ng-model="isSvcNotOfferedSelected"
                 ng-change="months = calcMonthlyTotals( isPatManagedSelected, 
                                                        isPatUnmanagedSelected, 
                                                        isPhyEmployedSelected, 
                                                        isPhyAffiliatedSelected, 
                                                        isSvcOfferedSelected, 
                                                        isSvcNotOfferedSelected )"> Not offered
        </label>
        <br>

        <h4> Date </h4>

      </fieldset>

    </form>

  </div>

  <div class="col-md-4"><!-- table of data -->

    <h3 class="text-center">Leakage</h3>

    <table class="table table-striped table-bordered" width="100%">

      <tr>
        <th class="text-center" width="33%"> Month               </th>
        <th class="text-center" width="33%"> In <br> Network     </th>
        <th class="text-center" width="33%"> Out of <br> Network </th>
      </tr>

      <tbody ng-init="months = calcMonthlyTotals( isPatManagedSelected, isPatUnmanagedSelected, isPhyEmployedSelected, isPhyAffiliatedSelected, isSvcOfferedSelected, isSvcNotOfferedSelected )">

        <tr class="text-right" ng-repeat="month in months"> 

          <td class="text-right"> {{ $index }} </td> 

          <td class="text-right"> {{ month[ 1 ] | currency }}           </td> 
          <td class="text-right"> {{ month[ 2 ] | currency }}           </td> 

        </tr>
      </tbody>

      <tr>
        <th class="text-right" width="33%"> {{ 0 | currency }} </th>
        <th class="text-right" width="33%"> {{ 0 | currency }} </th>
        <th class="text-right" width="33%"> {{ 0 | currency }} </th>
      </tr>

    </table>

  </div>

  <div class="col-md-4"><!-- info -->

<br>
<br>
<br>

    <table class="small table" width="100%">
      <tr>
        <td class="text-right"> from &nbsp; </td>
        <td class="text-right"> {{ minDate.format( 'MMM YYYY' ) }} </td>
        <td> &nbsp; </td>
      </tr>
      <tr>
        <td class="text-right"> to &nbsp; </td>
        <td class="text-right"> {{ maxDate.format( 'MMM YYYY' ) }} </td>
        <td> &nbsp; </td>
      </tr>

      <tr><td colspan="3">&nbsp;</td></tr>

      <tr>
        <th width="50%"> &nbsp;                          </th>
        <th width="25%"> IN  </th>
        <th width="25%"> OUT </th>
      </tr>

      <tr>
        <td> Patients   - Managed                                     </td>
        <td class="text-right"> {{ totalManagedIn       | currency }} </td>
        <td class="text-right"> {{ totalManagedOut      | currency }} </td>
      </tr>
      <tr>
        <td> Patients   - Unmanaged                                   </td>
        <td class="text-right"> {{ totalUnmanagedIn     | currency }} </td>
        <td class="text-right"> {{ totalUnmanagedOut    | currency }} </td>
      </tr>
      <tr>
        <td> Physicians - Employed                                    </td>
        <td class="text-right"> {{ totalEmployedIn      | currency }} </td>
        <td class="text-right"> {{ totalEmployedOut     | currency }} </td>
      </tr>
      <tr>
        <td> Physicians - Affiliated                                  </td>
        <td class="text-right"> {{ totalAffiliatedIn    | currency }} </td>
        <td class="text-right"> {{ totalAffiliatedOut   | currency }} </td>
      </tr>
      <tr>
        <td> Services   - Offered                                     </td>
        <td class="text-right"> {{ totalOfferedIn       | currency }} </td>
        <td class="text-right"> {{ totalOfferedOut      | currency }} </td>
      </tr>
      <tr>
        <td> Services   - Not Offered                                 </td>
        <td class="text-right"> {{ totalNotOfferedIn    | currency }} </td>
        <td class="text-right"> {{ totalNotOfferedOut   | currency }} </td>
      </tr>
      <tr>
        <td class="text-right"> <b>Total ({{ data.length }})&nbsp;</b>                   </td>
        <td class="text-right"> {{ totalInNetwork       | currency }} </td>
        <td class="text-right"> {{ totalOutOfNetwork    | currency }} </td>
      </tr>

    </table>

  </div>

</div>

